<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Magnus Kolstad</string>
	<key>CFBundleDisplayName</key>
	<string>Dagbladet Nice!</string>
	<key>CFBundleIdentifier</key>
	<string>com.oddwave.dagbladetnice</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>1.3.2</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>styles.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://*.dagbladet.no/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Overstyrer litt CSS så Dagbladet.no blir renere og penere</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/mrkolby/Dagbladet-Nice/raw/master/versions.plist</string>
	<key>Website</key>
	<string>http://oddwave.com/dagbladetnice/</string>
</dict>
</plist>
