/*
** Dagbladet Nice!
** av @mrkolby
**
** Versjon 1.4
*/

/*
** Vi fjerner de elementene som vi ikke vil ha
*/

#menu .loft,
.front-rss,
#menu .rss,
#menu .menu-title,
.arets_badge,

/*
** Toppannonsene
*/

#header,
#ad-top,

/*
** 
*/

.grid-ga .centerAd,
.centerAd,

/*
** 
*/

#solBox,

/*
** Skattesøket
*/

.l-color-tax,
.skattesok2009,
.skattesok,

/*
** Delingsfunksjonene til artikler
*/

.article-tools,

/*
** Tekstzoom til artikler
*/

.text-zoom,

/*
** Toppen og bunnen til disse rare blåboksene
*/

.l-blue-s .xbottom,
.l-blue-s .xtop,

/*
** Facebook på forsiden.
*/

#row-18959063,
#menu iframe,

/*
** TV-Guide i en footer?
*/

#tvguide,

/*
** 
*/

.ddBox.geodata.module-box,
.tagBox,

/*
** 
*/

#dzGroup .ad,
#article-text .dbAd {
	display: none !important;
}

/*
** Font-størrelser.
*/

h2.size-32,
h2.size-30 {
	font-size: 60px !important;
}

/*
** Fjern lufta på toppen av øverste extranyheter.
*/
.ref.black.back.extra,
.ref.extra {
	margin-top: 0 !important;
	background: #fff !important;
	padding: 0 0 20px 0 !important;
}

.ref.black.back.extra a,
.ref.black.back.extra span {
	color: #000 !important;
}

.ref.black.back.extra .extraTitle {
	background: #000 !important;
	color: #fff !important;
	padding: 5px 0 !important;
	border-radius: 0 !important;
}

/*
** Og da må vi gi litt luft for å få tilbake hvitt til toppen av siden.
*/
.web #doc,
.web #doc.adjust-left {
	padding-top: 10px !important;
}

/*
** Men viser gjerne de vi vil ha
** Viser delingsfunksjonene og tekstzoom under artikler
*/

#article-text .article-tools,
#article-text .text-zoom {
	display: inline !important;
}

/*
**
*/

#menuwrapper {
	border-bottom: 6px #d60000 solid !important;
}

/*
** Det nye designet var ofte venstrestilt, la oss fikse det.
** Beholder dette i tilfelle de skulle finne på å venstrestille mer.
*/

div#doc.adjust-left,
#menuwrapper.adjust-left .db-search-10,
#menuwrapper.adjust-left div#menu {
	margin: 0 auto !important;
}

.mod-100 .ref {
	padding-top: 1px;
	border-top: none !important;
}

/*
** Toppdelen av menyen får en bedre kontrast til resten av innholdet med en svart bakgrunnsfarge
*/

.upper {
	background: #000 !important;
	-webkit-border-top-left-radius: 5px !important;
	-webkit-border-top-right-radius: 5px !important;
}

/*
** Dermed må linkene være hvite, med en litt mindre skriftstørrelse
*/

.upper a {
	color: #fff !important;
	font-size: 13px;
}

/*
** Underdelen av menyen kan ikke være noe dårligere.
** Derfor gir vi den en annen gråfarge til bakgrunn, med en under border-bottom.
*/

.lower {
	background: #f5f5f5 !important;
	border-bottom: 1px #ddd solid;
	line-height: 10px;
	padding: 0 2px !important;
	width: 992px !important;
}

/*
** Dermed må linkene i undermenyen bli mørkere. Of course my hourse.
*/

.lower a {
	color: #333 !important;
}

/*
** Siden undermenyen har blitt lysegrå, så vi ha en ny, svart pil.
** Pilulf var et ganske morsomt navn. Jeg fniste.
*/

.nav.lower a:hover {
	background: transparent url(images/pilulf.gif) no-repeat center top !important;
}

.db-logo,
.db-logo-small,
.db-search-10,
.userlinks {
	margin: 0 5px !important;
}

.back a.mainUrl {
	color: blue;
}

/*
** Relaterte artikler på forsiden trenger litt luft over seg.
*/

.horisontal-lf {
	margin-top: 10px !important;
}

/*
** Understrekene på disse linkene er faktisk litt plagsomme.
*/

.horisontal-lf a {
	text-decoration: none;
}

/*
** Disse blå boksene med blant annet relaterte artikler er ganske fugly.
** Derfor fikser vi litt på utseende.
*/

.l-blue-s {
	background: none !important;
	padding: 10px 0 !important;
	border-top: 1px #cbcbcb solid !important;
	border-bottom: 1px #cbcbcb solid !important;
}

.l-blue-s ul {
	margin: 0 0 0 8px !important;
}

.l-blue-s ul li {
	list-style-type: square !important;
	margin-bottom: 5px !important;
}

/*
** Dem er gnukke, dem er gnukkinger
** Dem er gnukke, dem er gnukkinger
** Dem er en gjerrig smålig gjeng
** Alt, alt for gnukk
*/